[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_vlc
name: VLC media player
description: Medienabspieler für diverse Audio- und Videocodecs, Dateiformate sowie auch DVD, Video-CD und Streaming
advice: 
version: 2.2.5.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: login.opsiscript

[ProductProperty]
type: unicode
name: language
multivalue: False
editable: False
description: Sets the language of the user interface.
values: ["auto", "de", "en", "fr"]
default: ["auto"]

[ProductProperty]
type: unicode
name: install_architecture
multivalue: False
editable: False
description: Defines wether to install the version of 64bit, 32bit or automatic detection.
values: ["32 only", "64 only", "system specific"]
default: ["system specific"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: bool
name: desktopicon
description: Wether an icon is set on the desktop or not
default: False

[Changelog]
dfn_vlc (2.2.5.1-1)
	* neue Upstreamversion
	* o4i-Logo repariert
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 15.05.2017

dfn_vlc (2.2.4-006)
	* minor Update
 -- Detlef Krummel (GEI) <krummel@gei.de>, 05.06.2016

dfn_vlc (2.2.3-005)
	* minor Update
	* o4i Icon
 -- Detlef Krummel (GEI) <krummel@gei.de>, 09.02.2016

dfn_vlc (2.2.2-004)
	* minor Update
	* Set $InstFile$  = "vlc-" + $ProductVersion$ + "-win" + ...
 -- Detlef Krummel (GEI) <krummel@gei.de>, 09.02.2016

dfn_vlc (2.2.1-3)
	* login.opsiscript added (https://github.com/opsi4instituts/dfn_vlc/issues/4)
	* install_architecture added (32 or 64 bit installable)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 12.01.2016

dfn_vlc (2.2.1-2)
	* custom directory added
	* Desktopicon configurable
 -- Eric Esser <esser@wzb.eu>, 01.11.2015

vlc (2.1.5-1) stable; urgency=low

  * Initial version

 -- Eric Esser <esser@wzb.eu> Tue, 10 Feb 2015 15:14:08 + 0100






















